RewriteEngine On

RewriteCond %{HTTP_HOST} !^m\.
RewriteRule ^$ /main [R,L]

RewriteRule ^404$ src/pages/404.php

RewriteRule ^authorization?$ src/pages/authorization.php
RewriteRule ^registration?$ src/pages/registration.php
RewriteRule ^profile?$ src/pages/profile.php
RewriteRule ^main?$ src/pages/main.php

RewriteRule ^user/login?$ src/server/router.php
RewriteRule ^user/signup?$ src/server/router.php

RewriteRule ^car/add?$ src/server/router.php
RewriteRule ^car/search?$ src/server/router.php
RewriteRule ^car/delete?$ src/server/router.php

RewriteRule ^style.css$ src/pages/style.css

ErrorDocument 404 /404