RewriteEngine On

RewriteRule ^authorization?$ src/pages/authorization.php
RewriteRule ^registration?$ src/pages/registration.php
RewriteRule ^profile?$ src/pages/profile.php

RewriteRule ^login?$ src/server/router.php
RewriteRule ^signup?$ src/server/router.php

RewriteRule ^add_car?$ src/controllers/CarController.php
RewriteRule ^search_car?$ src/controllers/CarController.php
RewriteRule ^delete_car?$ src/controllers/CarController.php

RewriteRule ^style.css$ src/pages/style.css